@import '~antd/dist/antd.css';
.h100 {
  min-height: calc(100vh - 64px);
}

.content {
  width: 100vw;
  height: 100%;
  margin: auto;
  aspect-ratio: auto;
}

.minResolution {
  min-height: calc(100vh - 128px);
  min-width: 900px;
  margin: auto;
}

.maxWidth {

  min-height: 100vh;
  min-width: 100vw;
}

.w100 {
  width: 100%;
}
.item-list{
  margin-left: 100px;
  display: flex;
  flex-wrap: wrap;

}
.edit-item{
  cursor: pointer;
  margin-left: 5px;
  margin-top: 5px;
}
.item{
  width: 380px;
  padding: 5px;
  display: inline-block;
  border :2px solid grey ;
  margin: 3px 3px 3px 3px;
  flex-grow: 1;
}
.table-item{
  width: 180px;
  padding: 5px;
  display: inline-block;
  border :2px solid grey ;
  margin: 5px 2px 2px 5px;
  flex-grow: 1;
}
.add-prod-bnt{
position: fixed;
  top: 70%;
  left:80%;
}
.cart-btn{
  margin-top: 10px;
  margin-right: 10px;
}
.cart-input{
  margin-right: 8px;
}
.ribbon{
  margin-right: 55px;
  position: absolute ;
}
.item-list-cart{
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;

}
.credit-card{
  display: flex;
  flex-wrap: wrap;
}
.ccard-item{
  display: inline-block;
  flex-grow: 1;
  width: 250px;
}

.cc-input{
  width: 150px;
  margin: 3px 3px 3px 3px;
}
.cc-inputs{
  margin-top: 70px;
}
.item-cart{
  width: 150px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  border :2px solid grey ;
  margin: 3px 3px 3px 3px;
  flex-grow: 1;
}
.no-border{
  border:none
}
.steps{
  margin: auto;
  width: 1000px;
  height: calc(100vh - 200px) ;
}
.step{
  margin: auto;
  width: 900px;
  min-height: 400px;
}
.search{
  margin: auto;
}